<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.dylim.hot.reple.mapper.RepleMapper">

	<insert id="repleInsert" parameterType="com.dylim.hot.reple.RepleVO">
		INSERT INTO reple
		VALUES
		(
			null
			,#{reviewId}
			,#{repleCts}
			,'1'
			,#{registId}
			,now()
			,#{registId}
			,now()
			,'N'
		)
	</insert>
	
	<select id="getRepleList" parameterType="com.dylim.hot.reple.RepleVO" resultType="com.dylim.hot.reple.RepleVO">
		select 
			tb1.id 
			,tb1.review_id as reviewId
			,(select mber_nick_name from member where mber_id = tb1.regist_id) as mberNickName
			,tb1.reple_cts as repleCts
			,tb1.reple_id as repleId
			,tb1.regist_id as registId
			,tb1.regist_dt as registDt
			,(select attach_file_id 
				from 
					attach_file tb3,
					(select attach_file_master_id from member where mber_id = tb1.regist_id) tb2
					where tb3.attach_file_master_id = tb2.attach_file_master_id and del_yn = 'N') as attachFileId 
		from
			reple tb1
		where
			review_id = #{id}
			and del_yn = "N"
		order by regist_dt desc
	</select>
	
	<update id="repleDelete" parameterType="com.dylim.hot.reple.RepleVO">
		update reple 
		set 
			del_yn = "Y"
		where id = #{id} and regist_id = #{registId}
	</update>
	
</mapper>