<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layouts/layout">

<th:block layout:fragment="content">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<section class="form-wrap">
		<div class="form-view-area plus-padding">
			<div class="form-area">
				<div class="sign-up-area">
					<div class="sign-up-title">
						<h1>내 친구</h1>
					</div>
					<form method="get"  id="searchFriend" onsubmit="fnSearchFriend();">
						<div class="w100 d-flex justify-con-end">
							<div class="mr1">
								<input class="search-box" type="text" id="searchId" name="searchId" th:value="${searchId}" placeholder="닉네임을 검색해주세요."/>
							</div>
							<div>
								<button class="search-btn"type="submit">검색</button>
							</div>
						</div>
					</form>
					<form method="get" id="friendMapForm" action="/map/FriendMapView.do">
						<input type="hidden" id="mberId" name="mberId" />
					</form>
					<th:block th:if="${searchMod != null}">
						<th:block th:if="${resultList != null}">
							<h3>검색결과</h3>
							<div class="request-area">
								<div style="background-color: antiquewhite;">	
									<div th:each="result : ${resultList}" class="request-box-size" >
										<div class="w100">
											<div class="d-flex p-relative">
												<div class="request-profile-box">
													<div class="w100 p-relative">
														<img class="request-profile-img" src="/images/noImage.png"/>
													</div>
													<div class="user-name-box">
														<span th:text="${result.mberNickName}"></span>
													</div>
													<div class="p12">
														<th:block th:if="${result.relation == 'Y'}">
															<div class="friend-add-box">
																<button type="button" style="background-color:#FF6F0F;" class="btn text-white w-100 fs-3" th:id="${result.mberId}+'MapBtn'" th:onclick="|fnFriendMap('@{${result.mberId}}');|">지도보기</button>
															</div>
															<div class="friend-no-box">
																<button type="button" class="btn btn-secondary w-100 fs-3" th:id="${result.mberId}+'DelBtn'" th:onclick="|fnFriendDel('@{${result.mberId}}');|">끊기</button>
															</div>
														</th:block>
														<th:block th:unless="${result.relation == 'Y'}">	
															<div th:if="${result.relationType == null || result.relationType == ''}" class="friend-add-box">
																<button type="button" style="background-color:#FF6F0F;" class="btn text-white w-100 fs-3" th:id="${result.mberId}+'Btn'" th:onclick="|fnFriendReq('@{${result.mberId}}');|">친구신청</button>
															</div>
															<div th:if="${result.relationType == '1'}" class="friend-add-box">
																<button type="button" style="background-color:#FF6F0F;" class="btn text-white w-100 fs-3">신청완료</button>
															</div>
														</th:block>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:unless="${result != null}">
							<h3>검색결과</h3>
							<div class="no-search">
								<span>검색결과가 존재하지 않습니다.</span>	
							</div>
						</th:block>
					</th:block>
					<h3>신청목록</h3>
					<div th:if="${results != null}" class="request-area">
						<div style="background-color: antiquewhite;">	
							<div th:each="member : ${results}" class="request-box-size" >
								<div class="w100">
									<div class="d-flex p-relative">
										<div class="request-profile-box">
											<div class="w100 p-relative">
												<img class="request-profile-img" src="/images/noImage.png"/>
											</div>
											<div class="user-name-box">
												<span th:text="${member.mberNickName}"></span>
											</div>
											<div class="p12">
												<div class="friend-add-box">
													<button type="button" style="background-color:#FF6F0F;" class="btn text-white w-100 fs-3" th:id="${member.mberId}+'AcceptBtn'" th:onclick="|fnFriendAccept('@{${member.mberId}}');|">수락</button>
												</div>
												<div class="friend-no-box">
													<button type="button" class="btn btn-secondary w-100 fs-3" th:id="${member.mberId}+'NoBtn'" th:onclick="|fnFriendNo('@{${member.mberId}}');|">거절</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:unless="${results != null}" class="no-search">
						<span>신청목록이 없습니다.</span>	
					</div>
					<h3>내 친구</h3>
					<div th:if="${friendResults != null}"class="request-area">
						<div style="background-color: antiquewhite;">	
							<div th:each="myFriend : ${friendResults}" class="request-box-size" >
								<div class="w100">
									<div class="d-flex p-relative">
										<div class="request-profile-box">
											<div class="w100 p-relative">
												<img class="request-profile-img" src="/images/noImage.png"/>
											</div>
											<div class="user-name-box">
												<span th:text="${myFriend.mberNickName}"></span>
											</div>
											<div class="p12">
												<div class="friend-add-box">
													<button type="button" style="background-color:#FF6F0F;" class="btn text-white w-100 fs-3" th:id="${myFriend.mberId}+'MapBtn'" th:onclick="|fnFriendMap('@{${myFriend.mberId}}');|">지도보기</button>
												</div>
												<div class="friend-no-box">
													<button type="button" class="btn btn-secondary w-100 fs-3" th:id="${myFriend.mberId}+'DelBtn'" th:onclick="|fnFriendDel('@{${myFriend.mberId}}');|">끊기</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:unless="${friendResults != null}" class="no-search">
						<span>친구를 추가해보세요!</span>	
					</div>
				</div>
			</div>
		</div>
	</section>
<script th:inline="javascript">
	$(function(){
		 
		if([[${searchNoMsg}]]){
			alert([[${searchNoMsg}]]);
		}
			
	})
	function fnSearchFriend(){
		if($('#searchId').val() == null || $('#searchId').val() == ''){
			alert('검색할 친구의 닉네임을 입력해주세요.');
			return false;
		}
		
		$('#searchFriend').attr('action', '/member/myFriendsView.do');
		$('#searchFriend').submit();
	}
	
	function fnFriendReq(mberId){
		if(!confirm("신청을 보내시겠습니까?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendRequest.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	
	    	if(data == '친구신청을 보냈습니다.'){
	    		$("#"+mberId+"Btn").css("pointer-events", "none");
		    	$("#"+mberId+"Btn").attr('disabled', true);
		    	$("#"+mberId+"Btn").attr('onclick', '');
		    	$("#"+mberId+"Btn").text("요청완료");
	    	}
	    })
	    .fail(function() {
	    })
	}
	
	function fnFriendAccept(mberId){
		if(!confirm("친구신청을 수락하시겠습니까?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendAccept.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	$("#"+mberId+"NoBtn").css("pointer-events", "none");
	    	$("#"+mberId+"NoBtn").attr('disabled', true);
	    	$("#"+mberId+"NoBtn").attr('onclick', '');
	    	$("#"+mberId+"AcceptBtn").css("pointer-events", "none");
	    	$("#"+mberId+"AcceptBtn").attr('disabled', true);
	    	$("#"+mberId+"AcceptBtn").attr('onclick', '');
	    	$("#"+mberId+"AcceptBtn").text("수락완료");
	    })
	    .fail(function() {
	    })
	}
	
	function fnFriendNo(mberId){
		if(!confirm("친구신청을 거절하시겠습니까?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendNo.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	$("#"+mberId+"AcceptBtn").css("pointer-events", "none");
	    	$("#"+mberId+"AcceptBtn").attr('disabled', true);
	    	$("#"+mberId+"AcceptBtn").attr('onclick', '');
	    	$("#"+mberId+"NoBtn").css("pointer-events", "none");
	    	$("#"+mberId+"NoBtn").attr('disabled', true);
	    	$("#"+mberId+"NoBtn").text("거절완료");
	    	$("#"+mberId+"NoBtn").attr('onclick', '');
	    })
	    .fail(function() {
	    })
	}
	
	function fnFriendDel(mberId){
		if(!confirm("친구관계를 끊으시겠습니?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendDel.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	$("#"+mberId+"MapBtn").css("pointer-events", "none");
	    	$("#"+mberId+"MapBtn").attr('disabled', true);
	    	$("#"+mberId+"MapBtn").attr('onclick', '');
	    	$("#"+mberId+"DelBtn").css("pointer-events", "none");
	    	$("#"+mberId+"DelBtn").attr('disabled', true);
	    	$("#"+mberId+"DelBtn").text("거절완료");
	    	$("#"+mberId+"DelBtn").attr('onclick', '');
	    })
	    .fail(function() {
	    })
	}
	
	function fnFriendMap(mberId){
		$('#friendMapForm #mberId').val(mberId);
		$('#friendMapForm').submit();
	}
</script>
</th:block>
</html>