<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layouts/layout">

<th:block layout:fragment="content">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<section class="form-wrap">
		<div class="form-view-area plus-padding">
			<div class="form-area">
				<div class="sign-up-area">
					<div class="sign-up-title">
						<h1>내 친구</h1>
					</div>
					<form method="get"  id="searchFriend" onsubmit="fnSearchFriend();">
						<div class="w100 d-flex justify-con-end">
							<div class="mr1">
								<input class="search-box" type="text" id="searchId" name="searchId" th:value="${searchId}" placeholder="아이디를 검색해주세요."/>
							</div>
							<div>
								<button class="search-btn"type="submit">검색</button>
							</div>
						</div>
					</form>
					<th:block th:if="${searchMod != null}">
						<th:block th:if="${result != null}">
							<h3>검색결과</h3>
							<div class="request-area">
								<div style="background-color: antiquewhite;">	
									<div class="request-box-size" >
										<div class="w100">
											<div class="d-flex p-relative">
												<div class="request-profile-box">
													<div class="w100 p-relative">
														<img class="request-profile-img" src="/images/noImage.png"/>
													</div>
													<div class="user-name-box">
														<span th:text="${result.mberId}"></span>
													</div>
													<div class="p12">
														<div th:if="${result.relationType == null || result.relationType == '0'}" class="friend-add-box">
															<div class="friend-add-btn" th:id="${result.mberId}+'Btn'" th:onclick="|fnFriendReq('@{${result.mberId}}');|">
																<p>요청</p>
															</div>
														</div>
														<div th:if="${result.relationType == '1'}" class="friend-add-box">
															<div class="friend-add-btn" th:id="${result.mberId}+'Btn'" th:onclick="|fnFriendReq('@{${result.mberId}}');|">
																<p>요청완료</p>
															</div>
														</div>
														<th:block th:if="${result.relationType == '3'}">
															<div class="friend-add-box">
																<div class="friend-add-btn">
																	<p>지도보기</p>
																</div>
															</div>
															<div class="friend-no-box">
																<div class="friend-no-btn">
																	<p>끊기</p>
																</div>
															</div>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:unless="${result != null}">
							<h3>검색결과</h3>
							<div class="no-search">
								<p>검색결과가 존재하지 않습니다.</p>	
							</div>
						</th:block>
					</th:block>
					<h3>요청목록</h3>
					<div th:if="${results != null}" class="request-area">
						<div>	
							<div th:each="member : ${results}" class="request-box-size" >
								<div class="w100">
									<div class="d-flex p-relative">
										<div class="request-profile-box">
											<div class="w100 p-relative">
												<img class="request-profile-img" src="/images/noImage.png"/>
											</div>
											<div class="user-name-box">
												<span th:text="${member.mberId}"></span>
											</div>
											<div class="p12">
												<div class="friend-add-box">
													<div class="friend-add-btn" th:id="${member.mberId}+'AcceptBtn'" th:onclick="|fnFriendAccept('@{${member.mberId}}');|">
														<p>수락</p>
													</div>
												</div>
												<div class="friend-no-box">
													<div class="friend-no-btn">
														<p>거절</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:unless="${results == null}" class="no-search">
						<p>요청목록이 없습니다.</p>	
					</div>
					<h3>내 친구</h3>
					<div class="request-area">
						<div>	
							<div class="request-box-size" >
								<div class="w100">
									<div class="d-flex p-relative">
										<div class="request-profile-box">
											<div class="w100 p-relative">
												<img class="request-profile-img" src="/images/noImage.png"/>
											</div>
											<div class="p12">
												<div class="friend-add-box">
													<div class="friend-add-btn">
														<p>지도보기</p>
													</div>
												</div>
												<div class="friend-no-box">
													<div class="friend-no-btn">
														<p>끊기</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script th:inline="javascript">
	function fnSearchFriend(){
		if($('#searchId').val() == null || $('#searchId').val() == ''){
			alert('검색할 친구의 아이디를 입력해주세요.');
			return false;
		}
		$('#searchFriend').attr('action', '/member/myFriendsView/searchFriends.do');
		$('#searchFriend').submit();
	}
	
	function fnFriendReq(mberId){
		if(!confirm("요청을 보내시겠습니까?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendRequest.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	$("#"+mberId+"Btn").css("pointer-events", "none");
	    	$("#"+mberId+"Btn").children().text("요청완료");
	    })
	    .fail(function() {
	    })
	}
	
	function fnFriendAccept(mberId){
		if(!confirm("요청을 수락하시겠습니까?")){
			return false;
		}
		
		$.ajax({
	        type: "post",
	        url: '/member/myFriendsView/friendAccept.do',
	        data: {
	        	mberId : mberId
	        }
	    }).done(function (data) {
	    	alert(data);
	    	$("#"+mberId+"AcceptBtn").css("pointer-events", "none");
	    	$("#"+mberId+"AcceptBtn").children().text("수락완료");
	    })
	    .fail(function() {
	    })
	}
</script>
</th:block>
</html>