<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<th:block layout:fragment="content">
	<div class="main">
		<div class="main-text-area">
			<div class="main-text-h">
				<div class="main-text-sort">
		          <h1 class="main-text">
		            record memories
		          </h1>
		          <p class="main-text-explanation">
		            나만의 지도를 만들고 공유하세요.
		          </p>
		          <p>
		            <a class="start-btn" href="/map/my-map">시작하기</a>
		          </p>
		        </div>
	        </div>
		</div>
	</div>
</th:block>
</html>