<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.dylim.hot.login.mapper.LoginMapper">
<!-- <select id="getImage" parameterType="String" resultType="com.dylim.hot.login.LoginVO"> -->
</mapper>