<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.dylim.hot.map.mapper.ReviewMapper">

	<insert id="saveReview" parameterType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			INSERT INTO map_review
			VALUES
			(
				null
				,#{title}
				,#{review}
				,#{address}
				,#{rating}
				,#{lat}
				,#{lng}
				,#{visitDt}
				,"등록자"
				,now()
				,"수정자"
				,now()
				,#{attachFileMasterId}
			)
		]]>
	</insert>
	
	<select id="getReviews" resultType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			SELECT 
				id  
			    ,title
			    ,review
			    ,address
			    ,rating
			    ,lat
			    ,lng
			    ,visit_dt as visitDt
			    ,regist_id as registId
			    ,regist_dt as registDt
				,attach_file_master_id as attachFileMasterId
				,(select attach_file_id from attach_file where tb.attach_file_master_id = attach_file_master_id and del_yn ='N' limit 1) as attachFileId
			FROM map_review tb			
		]]>
	</select>
	
	<select id="getReview" resultType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			SELECT 
				id  
			    ,title
			    ,review
			    ,address
			    ,rating
			    ,lat
			    ,lng
			    ,visit_dt as visitDt
			    ,regist_id as registId
			    ,regist_dt as registDt
				,attach_file_master_id as attachFileMasterId
			FROM map_review tb			
			WHERE lat = #{lat} and lng = #{lng}
			ORDER BY registDt asc
			limit 1
		]]>
	</select>
	
	<select id="getReviewCnt" resultType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			SELECT 
				id  
			FROM map_review tb			
			WHERE lat = #{lat} and lng = #{lng}
		]]>
	</select>
	
	<select id="getToIdReview" resultType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			SELECT 
				id  
			    ,title
			    ,review
			    ,address
			    ,rating
			    ,lat
			    ,lng
			    ,visit_dt as visitDt
			    ,regist_id as registId
			    ,regist_dt as registDt
				,attach_file_master_id as attachFileMasterId
			FROM map_review tb			
			WHERE id = #{id}
		]]>
	</select>
	
	<update id="modifyReview" parameterType="com.dylim.hot.map.ReviewVO">
		<![CDATA[     	
			UPDATE map_review
			SET
				title = #{title},
				review = #{review},
				address = #{address},
				rating = #{rating},
				lat = #{lat},
				lng = #{lng},
				visit_dt = #{visitDt},
				update_id = "수정자",
				update_dt = now()
			WHERE
				id = #{id}
		]]>
	</update>
</mapper>