<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<th:block layout:fragment="content">
<!-- swiper jQuery -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- swiper jQuery -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" th:href="@{/css/timeLine.css}" />
<section class="container" style="margin-top:2rem; min-height:100%;">
	<div class="item mb-4" style="max-height:100%;">
		<div class="article-profile">
			<div class="space-between">
				<div class="d-flex">
						<a class="mini-map" th:href="|/map/friend-map/@{${result.registId}}|">지도보기</a>
					<div class="article-profile-image">
						<img th:src="|/file?attachFileId=${result.attachFileId}|" onerror="this.src='/images/ui_user_profile_avatar_person_icon_208734.png';"/>
					</div>
					<div class="article-profile-left">
						<div class="nickname text-left" th:text="${result.mberNickName}"></div>
						<div class="region-name" th:text="${result.registDt}">시간</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${result.files != null && result.files.size != 0}" class="article-images">
			<div class="mt-4">	
			  	<div class="list-slide swiper">
				    <ul class="swiper-wrapper">
				    	<li th:each="file : ${result.files}" class="swiper-slide">
				    		<img th:src="@{/file?attachFileId=} + ${file.attachFileId}">
				    	</li>
				    </ul>
				    <div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="article-description">
			<div class="fs-3" th:text="${result.review}">
			</div>
			<form method="post" id="repleInsertForm">
			<input type="hidden" name="reviewId" id="reviewId" th:value="${result.id}"/>
			<div class="repleArea">
				<div>
					<span class="reple-cnt" th:if="${repleResults != null}" th:text="|댓글(${repleResults.size})|"></span>
					<span class="reple-cnt" th:unless="${repleResults != null}">댓글(0)</span>
				</div>
				<div style="background-color: rgba(233, 233, 233, 0.5);">
					<div class="article-profile padding-15">
						<div th:if="${session.loginMember != null}" class="bg-white">
							<div class="bg-white padding-15">
								<div class="nickname text-left" th:text="${session.loginMember.mberNickName}+님"></div>
								<textarea class="reple-box" name="repleCts" id="repleCts" maxlength="200" placeholder="댓글을 달아주세요"></textarea>
								<div class="text-right" >
									<span class="textCount" id="textCount">0</span>
									<span class="textTotal">/200</span>
								</div>
							</div>
							<div class="reple-insert-area">
								<button type="button" class="btn btn-primary fs-3 ps-4 pe-4" onclick="fnRepleInsert();">등록</button>
							</div>
						</div>
						<div th:unless="${session.loginMember != null}" class="bg-white padding-15 mb-4">
							<a href="/auth">댓글을 작성하시려면 로그인 해주세요.</a>
						</div>
						
						<th:block th:if="${repleResults != null}">
							<div class="reple-wrap">
								<div class="reples">
									<div class="reple-h mb-3 reple-area" th:each="reple : ${repleResults}">
										<div class="w-100 display-flex">
											<div class="article-profile-image">
												<img th:src="|/file?attachFileId=${reple.attachFileId}|" onerror="this.src='/images/ui_user_profile_avatar_person_icon_208734.png';" />
											</div>
											<div class="article-profile-left w-100">
												<div class="reple-info">
													<div class="nickname text-left" th:text="${reple.mberNickName}"></div>
													<div class="region-name text-left ms-3" th:text="${reple.registDt}"></div>
												</div>
												<div class="region-name" th:text="${reple.repleCts}"></div>	
											</div>
											<th:block th:if="${session.loginMember != null}">
												<div th:if="${session.loginMember.mberId == reple.registId}">
													<button type="button" class="reple-del-area button-none" th:onclick="|fnOption('@{${reple.id}}');|">
														<i class="fa-solid fa-ellipsis-vertical"></i>
													</button>
													<button type="button" class="mini-del" name="mini-del" th:id="|mini-del${reple.id}|" th:onclick="|fnRepleDel('@{${reple.id}}','@{${reple.registId}}');|">삭제하기</button>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:unless="${repleResults != null}">
							<div class="reple-wrap">
								<div class="reples" style="height:41.48px;">
									<div class="d-flex">
										등록된 댓글이 없습니다.
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</section>
	
<style>
.padding-15{
	padding: 1.5rem;
}

.reple-box{
border: none; box-shadow: none; width:100%; resize:none;
}

.reple-insert-area{
border-top:1px solid #ededed; text-align:right; margin-bottom:1.5rem;
}
</style>
	
<script th:inline="javascript">
$(function(){
	fnSwSet();
})

function fnSwSet(){
	var swiper = new Swiper('.list-slide', {
	    observer: true,
	    observeParents: true,
	    effect: "flip",
        grabCursor: true,
	    navigation: {
	        nextEl: '.swiper-button-next',
	        prevEl: '.swiper-button-prev',
	    },
	    pagination: {
	        el: ".swiper-pagination",
	        clickable : true,
		},
	});
}

$.fn.serializeObject = function() {
	  "use strict"
	  var result = {}
	  var extend = function(i, element) {
	    var node = result[element.name]
	    if ("undefined" !== typeof node && node !== null) {
	      if ($.isArray(node)) {
	        node.push(element.value)
	      } else {
	        result[element.name] = [node, element.value]
	      }
	    } else {
	      result[element.name] = element.value
	    }
	  }

	  $.each(this.serializeArray(), extend)
	  return result
	}
	
$('#repleCts').keyup(function (e) {
	let content = $(this).val();
    
    // 글자수 세기
    if (content.length == 0 || content == '') {
    	$('.textCount').text('0');
    } else {
    	$('.textCount').text(content.length);
    }
    
    // 글자수 제한
    if (content.length > 200) {
    	// 200자 부터는 타이핑 되지 않도록
        $(this).val($(this).val().substring(0, 200));
        // 200자 넘으면 알림창 뜨도록
        alert('글자수는 200자까지 입력 가능합니다.');
    };
});

function fnRepleInsert(){
	if(!confirm("등록하시겠습니까?")){
		return false;
	}
	
	if(!$('#repleCts').val()){
		alert("댓글을 입력해주세요.");
		return false;
	}
	if ($('#repleCts').val().length > 200) {
        alert('글자수는 200자까지 입력 가능합니다.');
        return false;
    };
    
	//var formData = new FormData($('#repleInsertForm')[0]);
	var formData = $('#repleInsertForm').serializeObject();
	$.ajax({
        type: "post",
        url: '/reple',
        cache: false,
        contentType: 'application/json',
        processData: false,        
        data: JSON.stringify(formData),
    }).done(function (data) {
    	alert(data);
    	if(data == '등록되었습니다.'){
    		var reviewId = $('#reviewId').val();
			$.ajax({
	            type: "get",
	            url: '/reple/'+reviewId,
	        }).done(function (data) {
	        	var html ='';
	        	var loginId = [[${session.loginMember}]];
	        	var dataSize = data.length;
	        	for(var i = 0; i < dataSize; i++){
	        		html += '<div class="reples">';
	        		html += '<div class="reple-h mb-3 reple-area">';
	        		html += '<div class="w-100 display-flex">';
		        	html += '<div class="article-profile-image">';
		        	html += '<img src="/file?attachFileId='+data[i].attachFileId+'" onerror="this.src=\'/images/ui_user_profile_avatar_person_icon_208734.png\'"/>';
		        	html += '</div>';
		        	html += '<div class="article-profile-left w-100">';
		        	html += '<div class="reple-info">';
		        	html += '<div class="nickname text-left">'+data[i].mberNickName+'</div>';
		        	html += '<div class="region-name text-left ms-3">'+data[i].registDt+'</div>';
		        	html += '</div>';
		        	html += '<div class="region-name">'+data[i].repleCts+'</div>';
		        	html += '</div>';
		        	
		        	if(loginId != null){
		        		if(loginId.mberId == data[i].registId){
			             	html += '<div>';
				        	html += '<button type="button" class="reple-del-area button-none" onclick="fnOption('+data[i].id+');">';
				        	html += '<i class="fa-solid fa-ellipsis-vertical"></i>';
				        	html += '</button>';
				        	html += '<button type="button" class="mini-del" name="mini-del" id="mini-del'+data[i].id+'" onclick="fnRepleDel(\''+data[i].id+'\',\''+data[i].registId+'\');">삭제하기</button>';
				        	html += '</div>';
			        	}
		        	}
		        	
		        	html += '</div>';
		        	html += '</div>';
		        	html += '</div>';
		        	html += '</div>';
	        	}
	        	$('.reple-wrap').empty();
	        	$('.reple-wrap').append(html);	        
	        	$('.reple-cnt').text("댓글("+ dataSize +")");
	        	$('#repleCts').val('');
	        })
	        .fail(function() {
	        })
		}
    })
    .fail(function() {
    })
}

function fnOption(id){
	var btn = $('#mini-del'+id);
	if(btn.css('display') !== 'none'){
		$('#mini-del'+id).css('display','none');
	}else{
		$('#mini-del'+id).css('display','block');
	}
}

function fnRepleDel(id, mberId){
	if(!confirm("삭제하시겠습니까?")){
		return false;
	}
	
	var repleId = id;
	var mberId = mberId;
	var obj = {
		id : repleId,
       	registId: mberId		
	}
	$.ajax({
        type: "delete",
        url: '/reple',
        data: JSON.stringify(obj),
        contentType: 'application/json',
    }).done(function (data) {
    	alert(data);
    	if(data == '삭제되었습니다.'){
			var reviewId = $('#reviewId').val();
			
			$.ajax({
	            type: "get",
	            url: '/reple/'+reviewId,
	        }).done(function (data) {
	        	var html ='';
	        	var loginId = [[${session.loginMember}]];
	        	var dataSize = data.length;
	        	for(var i = 0; i < dataSize; i++){
	        		html += '<div class="reples">';
	        		html += '<div class="reple-h mb-3 reple-area">';
	        		html += '<div class="w-100 display-flex">';
		        	html += '<div class="article-profile-image">';
		        	html += '<img src="/file?attachFileId='+data[i].attachFileId+'"/>';
		        	html += '</div>';
		        	html += '<div class="article-profile-left w-100">';
		        	html += '<div class="reple-info">';
		        	html += '<div class="nickname text-left">'+data[i].mberNickName+'</div>';
		        	html += '<div class="region-name text-left ms-3">'+data[i].registDt+'</div>';
		        	html += '</div>';
		        	html += '<div class="region-name">'+data[i].repleCts+'</div>';
		        	html += '</div>';
		        	
		        	if(loginId != null){
		        		if(loginId.mberId == data[i].registId){
			             	html += '<div>';
				        	html += '<button type="button" class="reple-del-area button-none" onclick="fnOption('+data[i].id+');">';
				        	html += '<i class="fa-solid fa-ellipsis-vertical"></i>';
				        	html += '</button>';
				        	html += '<button type="button" class="mini-del" name="mini-del" id="mini-del'+data[i].id+'" onclick="fnRepleDel(\''+data[i].id+'\',\''+data[i].registId+'\');">삭제하기</button>';
				        	html += '</div>';
			        	}
		        	}
		        	
		        	html += '</div>';
		        	html += '</div>';
		        	html += '</div>';
		        	html += '</div>';
	        	}
	        	$('.reple-wrap').empty();
	        	$('.reple-wrap').append(html);
	        	$('.reple-cnt').text("댓글("+ dataSize +")");
	        	$('#repleCts').val('');
	        })
	        .fail(function() {
	        })
		}
    })
    .fail(function() {
    })
}
</script>
</th:block>
</html>