<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<div class="bottom-bar-wrapper bottom-bar mydiv" th:fragment="reviewInsert">
		<div class="insert-wrap" id="resizable" style="overflow:auto; background-color: rgba(0, 0, 0, 0.5);">
			<div class="bottom-bar">
				<div class="title-area">
				  <input class="fs-2" name="title" id="title" placeholder="제목을 입력해주세요."/>
				</div>
				<div class="insert-image-area">
				  <div class="iw-file-input h-auto">
				  	<div class="images-insert-area">
			  			<input class="file-input" type="file" id="attachFileIds" name="attachFileIds" multiple/>
					  	<div class="fileList fs-3 fw-bold" id="fileList">사진은 10개까지 등록 가능합니다.</div>
				  	</div>
				  </div>
				</div>
				<div class="star-area">
					<div class="star-rating space-x-4 mx-auto">
						<input type="radio" id="5-star" name="rating" value="5"/>
						<label for="5-star" class="star pr-4">★</label>
						<input type="radio" id="4-star" name="rating" value="4"/>
						<label for="4-star" class="star">★</label>
						<input type="radio" id="3-star" name="rating" value="3"/>
						<label for="3-star" class="star">★</label>
						<input type="radio" id="2-star" name="rating" value="2"/>
						<label for="2-star" class="star">★</label>
						<input type="radio" id="1-star" name="rating" value="1"/>
						<label for="1-star" class="star">★</label>
					</div> 
				</div>
				<div class="location-info-area">
				  <input class="fs-3" name="address" id="addressInfo" placeholder="위치 정보가 표시됩니다."/>
				</div>
				<div class="location-info-area text-left fs-3">
					<span class="me-4">공개여부</span>
					<div class="d-inline-block">
						<div class="form-check open-area">
						  <input class="form-check-input" type="radio" name="openType" id="openType1" value="1">
						  <label class="form-check-label" for="openType1">
						    전체공개
						  </label>
						</div>
						<div class="form-check open-area">
						  <input class="form-check-input" type="radio" name="openType" id="openType2" value="2">
						  <label class="form-check-label" for="openType2">
						    친구공개
						  </label>
						</div>
						<div class="form-check open-area">
						  <input class="form-check-input" type="radio" name="openType" id="openType3" value="3">  
						  <label class="form-check-label" for="openType3">
						    비공개
						  </label>
						</div>
					</div>
				</div>
				<div class="review-area">
				  <textarea class="fs-3" name="review" id="review" placeholder="후기를 입력해주세요."></textarea>
				</div>
				<div class="bottom-btn-area">
				  <button type= "button" class="btn btn-primary fs-3 ps-4 pe-4" th:onclick="fnSaveReview();">저장</button>
				  <button type= "button" class="btn btn-secondary fs-3 ps-4 pe-4" th:onclick="fnClose(2);">취소</button>
				</div>
			</div>
		</div>
	</div>
</html>