<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<th:block layout:fragment="content">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- swiper jQuery -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

<link rel="stylesheet" th:href="@{/css/modifyView.css}" />
<section class="form-wrap">
	<div class="form-view-area plus-padding">
		<div class="form-area">
			<div class="sign-up-area">
			<form id="deleteForm" th:method="delete">
				<input type="hidden" name="id" id="id" th:value="${result.id}" />
				<input type="hidden" name="registId" id="registId" th:value="${result.registId}" />
			</form>
			<form id="modifyForm" th:method="put">
				<input type="hidden" name="id" id="id" th:value="${result.id}" />
				<input type="hidden" name="lat" th:value="${result.lat}" />
				<input type="hidden" name="lng" th:value="${result.lng}" />
				<input type="hidden" name="registId" id="registId" th:value="${result.registId}" />
				<input type="hidden" name="attachFileMasterId" id="attachFileMasterId" th:value="${result.attachFileMasterId}" />
					<table class="wrapper mb-5 w-100">
						<tbody>
						<tr class="title-area">
							<th>제목</th>
							<td><input type="text" class="form-control fs-4" th:name="title" th:id="title" placeholder="제목을 입력해주세요." th:value="${result.title}"/></td>
						</tr>
						<tr class="image-area">
							<th>등록된 사진</th>
							<td>
						  		<div class="file-list" id="fileList" style="display: grid;">
							  		<div class="swiper mySwiper">
								      <div class="swiper-wrapper">
								      	<th:block th:if="${files != null}" th:each="file : ${files}">
								      		<div class="img-box swiper-slide">
										        <img th:src="${file.url}" th:id="${file.attachFileId}" th:onclick="fnImgDel(this.getAttribute('id'));"/>
										        <button type="button" class="img-del-btn"><i class="fa-regular fa-circle-xmark" style="font-size:5.5rem;"></i></button>
										    </div>    
								        </th:block>
								      </div>
									</div>
					  			</div>
							</td>
						</tr>
						<tr class="insert-image-area">
							<th>추가할 사진</th>
							<td>
								<div class="dropzone">
								</div>
								<p class="caution">※ 사진은 추가 시 바로 적용됩니다.</p>
							</td>
						</tr>
						<tr class="star-area">
							<th>평점</th>
							<td>
								<div class="star-rating space-x-4 mx-auto">
									<input type="radio" id="5-stars" name="rating" value="5" th:checked="${result.rating eq 5}"/>
									<label for="5-stars" class="star pr-4">★</label>
									<input type="radio" id="4-stars" name="rating" value="4" th:checked="${result.rating eq 4}"/>
									<label for="4-stars" class="star">★</label>
									<input type="radio" id="3-stars" name="rating" value="3" th:checked="${result.rating eq 3}"/>
									<label for="3-stars" class="star">★</label>
									<input type="radio" id="2-stars" name="rating" value="2" th:checked="${result.rating eq 2}"/>
									<label for="2-stars" class="star">★</label>
									<input type="radio" id="1-star" name="rating" value="1" th:checked="${result.rating eq 1}"/>
									<label for="1-star" class="star">★</label>
								</div> 
							</td>
						</tr>
						<tr class="location-info-area">
							<th>위치</th>
							<td>
								<input type="text" class="form-control fs-4" th:name="address" th:id="addressInfo" placeholder="위치 정보가 표시됩니다." th:value="${result.address}"/>
							</td>
						</tr>
						<tr class="open-info-area">
							<th>공개여부</th>
							<td class="text-left">
								<div class="d-inline-block">
									<div class="form-check open-area me-3">
									  <input class="form-check-input" type="radio" name="openType" id="openType1" value="1" th:checked="${result.openType eq '1'}"/>
									  <label class="form-check-label" for="openType1">
									    전체공개
									  </label>
									</div>
									<div class="form-check open-area me-3">
									  <input class="form-check-input" type="radio" name="openType" id="openType2" value="2" th:checked="${result.openType eq '2'}"/>
									  <label class="form-check-label" for="openType2">
									    친구공개
									  </label>
									</div>
									<div class="form-check open-area me-3">
									  <input class="form-check-input" type="radio" name="openType" id="openType3" value="3" th:checked="${result.openType eq '3'}"/>  
									  <label class="form-check-label" for="openType3">
									    비공개
									  </label>
									</div>
								</div>
							</td>
						</tr>
						<tr class="review-area">
							<th>후기</th>
							<td>
								<textarea class="form-control fs-3" th:name="review" th:id="review" placeholder="후기를 입력해주세요." th:text="${result.review}"></textarea>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="bottom-btn-area">
						<button type= "button" class="btn btn-primary fs-3 ps-4 pe-4" th:onclick="fnMoidfyReview();">수정</button>
						<button type= "button" class="btn btn-secondary fs-3 ps-4 pe-4" th:onclick="fnClose();">취소</button>
						<button type= "button" class="btn btn-danger fs-3 ps-4 pe-4" th:onclick="fnDeleteReview();">삭제</button>
					</div>
			</form>
			</div>
		</div>
	</div>
</section>
<script th:inline="javascript">
var fileCnt = [[${fileCnt}]];
var fileContents = [];
function fnMoidfyReview(){
	
	if(!confirm('수정하시겠습니까?')){
		return false;
	}
	var loginId = [[${session.loginMemberId}]];
	
	if(loginId != $('#registId').val()){
		alert('등록자만 수정 할 수 있습니다.');
		return false;
	}

	if(!$('#title').val()){
		alert('제목을 입력해주세요.');
	}
	if(!$('#addressInfo').val()){
		alert('주소를 입력해주세요.');
	}
	if(!$('input:radio[name="openType"]:checked').val()){
		alert('공개여부를 선택해주세요.');
		return false;
	}
	if(!$('#review').text()){
		alert('후기를 입력해주세요.');
	}
	
	$('#modifyForm').attr('action', '/map/my-map/review/'+$('#id').val());
	$('#modifyForm').submit();
}
function fnClose(){
	location.href = "/map/my-map";
}

function fnDeleteReview(){
	if(!confirm('리뷰를 삭제하시겠습니까?')){
		return false;
	}
	var loginId = [[${session.loginMemberId}]];
	if(loginId != $('#registId').val()){
		alert('등록자만 삭제 할 수 있습니다.');
		return false;
	}
	$('#deleteForm').attr('action', '/map/my-map/review/'+$('#deleteForm #id').val());
	$('#deleteForm').submit();
}

function fnImgDel(attachFileId){
	if(!confirm('해당 사진을 삭제하시겠습니까?')){
		return false;
	}
	$.ajax({
        type: "post",
        url: '/file/deleteImage.do',
        data: {
        	attachFileId: attachFileId
        },
    }).done(function (resultMap) {
    	alert('삭제되었습니다.');
    	$('#'+attachFileId).closest('div').remove();
    	dropzone.options.maxFiles = ++fileCnt;
    })
    .fail(function() {
    	alert('삭제 실패 하였습니다.');
    })
    
}

var swiper = new Swiper(".mySwiper", {
	slidesPerView: 5,
	spaceBetween: 20,
	freeMode: true,
	pagination: {
	  clickable: true,
	},
	variableWidth: true
})

Dropzone.autoDiscover = false; // deprecated 된 옵션. false로 해놓는걸 공식문서에서 명시
var attchFileMasterId = [[${result.attachFileMasterId}]];
var dropzone = new Dropzone("div.dropzone", {
  url: "/file/saveImages.do",
  params: {
      "attchFileMasterId" : attchFileMasterId,
  },
  maxFiles: fileCnt, // 업로드 파일수
  uploadMultiple: true, // 다중업로드 기능
  parallelUploads: 10, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 넘긴다.)
  acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF', // 이미지 파일 포맷만 허용
  dictDefaultMessage: '클릭 또는 사진을 드래그 해주세요',
  dictMaxFilesExceeded: '업로드 가능한 사진 갯수를 초과하였습니다.\n사진은 최대 10개까지 등록 가능합니다.',
  thumbnailWidth: 162.4, // Upload icon size
  thumbnailHeight: 140, // Upload icon size
  init: function () {
		this.on('success', function (file, responseText) {
			if(!$('#attachFileMasterId').val()){
				var obj = {
					attachFileMasterId: responseText.attachFileMasterId	
				}
				var id = $('#id').val();
				$.ajax({
			        type: "post",
			        url: '/map/my-map/reviwew/'+id+'/file',
			        contentType: 'application/json',
			        data: JSON.stringify(obj),
			    }).done(function (resultMap) {
			    	$('#attachFileMasterId').val(responseText.attachFileMasterId);
			    })
			    .fail(function() {
			    	alert('삭제 실패 하였습니다.');
			    })
			}
		});
		this.on('error', function (file, errorMessage) {
			alert(errorMessage);
		});
  }
});
</script>
</html>
