@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
html{
	font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul, ol, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

input[type="text"]{
	border: 1px solid #d2d2d2;
    text-indent: 5px;
    background: #fff;
    color: #323232;	
}
input, textarea, select, button, table{
	font-family: 'Noto Sans Kr', sans-serif;
    font-size: 16px;
    color: #323232;
    font-weight: 400;	
    text-indent: 5px;
}

.container{
	padding: 25px 30px 30px;	
}
.header{
  width:100%;
  height:50px;
  background-color: pink;
  text-align: right;
  margin:0 auto;
}

.loginBtn{
  margin-right: 5px;
  display: inline-block;
  background-color: black;
  padding: 5px 20px 5px 20px;
  font-family: 'Anton', sans-serif;
  color:white;
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;
  margin-top: 2px;
}

.main {
    background-image: url('/images/mainView.png');
    width:100%;
    height: 100vh;
    background-size: cover;
 }
 
<!-- 사이드바 -->
#app{
	position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    right: 0;
}
#app .side-bar {     
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}


#map div img {
	width:100%;
	height: 100%;
}

.side-bar-wrapper .side-bar{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    resize: horizontal;
}

.side-bar-wrapper{
	display:none;
	/* display: flex; */
    color: #fff;
    height:100%;
}

.side-bar-wrapper  .side-bar > .title-area {
	padding: 20px 10px;
}

.side-bar-wrapper  .side-bar > .title-area > #title {
	font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    box-shadow: none;
    background: none;
    border: none;
    width:100%;
}




.side-bar-wrapper  .side-bar > .image-area {
	padding: 0 10px;
}


.side-bar-wrapper  .side-bar > .image-area  > .iw-file-input {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 5px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
}

.side-bar-wrapper  .side-bar > .image-area  > .iw-file-input .file-input{
	cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.side-bar-wrapper  .side-bar > .location-info-area {
	padding: 10px;
}

.side-bar-wrapper  .side-bar > .location-info-area > #addressInfo{
	width:100%;
	font-size: 1rem;
    color: #fff;
    box-shadow: none;
    background: none;
    border: none;
}

  

.side-bar-wrapper  .side-bar > .review-area {
	padding: 20px 10px;
}
    
.side-bar-wrapper  .side-bar > .review-area {
	padding: 20px 10px;
}    

.side-bar-wrapper .side-bar > .review-area > #review {
	width:100%;
	min-height: 97px;
    resize: none;
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;    
}
.side-bar-wrapper  .side-bar > .star-area {
	padding: 20px 10px;
}    

.side-bar-wrapper  .side-bar > .title-area > #title::placeholder,
.side-bar-wrapper  .side-bar > .location-info-area > #addressInfo::placeholder,
.side-bar-wrapper  .side-bar > .review-area > #review::placeholder {
	color: #fff;
}

 
 
.star-rate {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.76rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  /* width: 5em; */
}

.star-rate input {
  display: none;
}

.star-rate label {
  -webkit-text-fill-color: transparent; Will override color (regardless of order);
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: gold;
  color: #ddd;
  cursor: pointer;
}

.star-rate :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rate label:hover,
.star-rate label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
} 

.fileList {
	width: 100%;
}

.fileLine li {
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: floralwhite;
    font-weight: 600;
}

.fileLine li > i {
	cursor: pointer;
	font-size: 18px;
	left: 50%;
	top: 5%;
}

.detail-wrap{
	width: 350px;
    left: 0px;
    top: 0px;
    height: 100%;
    position: relative;
}

.side-bar-active-btn {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 0;
    border: none;
    border-radius: unset;
    color: #fff;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.insert-wrap{
	width: 100%;
    left: 0px;
    bottom: 0px;
    height: 500px;
    position: relative;
}

.inser-area-button{
	display:none;
    position: absolute;
    top: 83%;
    left: 50%;
    width: 120px;
    height: 30px;
    align-items: center;
}
    