@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
@font-face {
    font-family: 'DalseoHealing';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoHealingMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoHealingMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoHealingMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoHealingMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/daegu/DalseoHealingMedium.ttf') format("truetype");
    font-display: swap;
} 

html{
	font-size:62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Anton', sans-serif;
  font-family: 'DalseoHealing';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul, ol, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;	
	color: black;
}

inpiut{
	-webkit-appearance: none;
}
input, textarea, select, button, table{
	font-family: 'Noto Sans Kr', sans-serif;
    font-size: 16px;
    color: #323232;
    font-weight: 400;	
}

.star-rate {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.76rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  /* width: 5em; */
}

.star-rate input {
  display: none;
}

.star-rate label {
  -webkit-text-fill-color: transparent; Will override color (regardless of order);
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: gold;
  color: #ddd;
  cursor: pointer;
}

.star-rate :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rate label:hover,
.star-rate label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
} 


.main {
    background-image: url('/images/mainView.png');
    width:100%;
    height: 100vh;
    background-size: cover;
 }
 
 

    