@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sign-up-area{
	text-align: center;
}

.wrapper .title-area input,
.wrapper .location-info-area input{
	width: 100%;
	height: 3.8rem;
}

.wrapper .review-area textarea{
	width: 100%;
	height: 18.8rem;
	resize: none;    
    border: 1px solid #d2d2d2;
}

.wrapper th{
	width: 15rem;
	font-size: 1.6rem;
    font-weight: 500; 
    padding-right: 15px;
    background-color:#f7f7fb;
}

.star-rating{
	font-size: 6rem;
	line-height: inherit;
}

.location-info-area th,
.title-area th,
.image-area{
	height:7rem;
}

.insert-image-area th {
	height: 17rem;
}

.swiper-wrapper img{
	width: 14rem;
	height: 14rem;
	margin: 3px 0;
}

.swiper-wrapper img:hover{
	opacity: 0.5;
	cursor: pointer;
}

.file-list{
	background: #eee;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.file-input-form{
	width: 14rem;
	height: 14rem;
	margin: 3px 0;
	border: 5px dashed rgb(85, 85, 85, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
}

.img-box{
	width: 14rem;
	height: 14rem;
	margin: 3px 0;
    border-radius: 20px;
}
}

.img-del-btn{
    border-radius: 20px;
	width: 100%;
    height: 100%;
}

.dropzone{
	width: 100%;
	padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropzone .dz-preview .dz-image{
	width: 162.4px;
	height: 140px;
}
.dropzone .dz-message{
	margin: 4em 0;	
}

.caution{
	text-align: start;
    margin-top: 5px;
    font-size: 13px;
    color: red;
}

.wrapper tr:first-child{
	border-top: 2px solid #222;
	border-bottom: 1px solid #d5d5db;
	margin-top:1rem;
	margin-bottom:1rem;
} 
.wrapper tr{
	border-top: 1px solid #d5d5db;
	border-bottom: 1px solid #d5d5db;
	margin-top:1rem;
	margin-bottom:1rem;	
}

.wrapper td{
	padding:1.2rem;	
}