<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/layout">

<th:block layout:fragment="content">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<section class="form-wrap">
		<div class="form-view-area">
			<div class="form-area">
				<div class="login-form">
					<h1>LOGIN</h1>
					<div class="login-info">
						<form id="loginForm" method="post">
							<label class="none" for="id">아이디</label>
							<input class="form-control fs-3 h-55" type="text" id="mberId" name="mberId" th:value="${mberId}" placeholder="아이디를 입력해주세요."/>
							<label class="none" for="password">비밀번호</label>
							<input class="form-control fs-3 h-55" type="password" id="mberPassword" name="mberPassword" placeholder="비밀번호를 입력해주세요."/>
							<div th:if="${loginMsg != null}" th:text="${loginMsg}" class="mb1 red"></div>
							<button class="login-action-btn btn btn-primary fs-3 ps-4 pe-4 fw-bold" onclick="fnLoginAction();" type="submit">로그인</button>
							<button class="naver-login-btn btn btn-success fs-3 ps-4 pe-4 fw-bold" type="button">네이버로그인</button>
							<button class="kakao-login-btn btn btn-warning fs-3 ps-4 pe-4 fw-bold text-white" type="button">카카오로그인</button>
						</form>
					</div>
					<nav class="member-area">
						<a href="/login/signUpView.do">회원가입</a>
						<nav class="member-find">
							<ul>
								<li><a href="#">아이디찾기</a></li>
								<li><a href="#">비밀번호찾기</a></li>
							</ul>
						</nav>
					</nav>
				</div>
			</div>
		</div>
	</section>
<script th:inline="javascript">
function fnLoginAction(){
	if($('#mberId').val() == '' || !$('#mberId').val()){
		alert('아이디를 입력해주세요.');
		return false;
	}
	
	if($('#mberPassword').val() == '' || !$('#mberPassword').val()){
		alert('비밀번호를 입력해주세요.');
		return false;
	}
	
	$('#loginForm').attr('action', '/login/loginView/loginAction.do');
	$('#loginForm').submit();
}
</script>
</th:block>
</html>