<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<th:block layout:fragment="content">
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<form id="signUpForm" method="post" enctype="multipart/form-data">
	<input type="hidden" id="mberIdCheck"/>
	<input type="hidden" id="telNoCheck"/>
	<input type="hidden" id="emailNoCheck"/>
	<input type="hidden" id="telYn" name="telYn" value="N"/>
	<input type="hidden" id="emailYn" name="emailYn" value="N"/>
	
	<section class="form-wrap">
		<div class="form-view-area plus-padding">
			<div class="form-area">
				<div class="sign-up-area">
					<div class="sign-up-title">
						<h1>회원가입</h1>
					</div>
					<h3>기본정보입력</h3>
					<div class="sign-up-input input-profile">
						<div class="profile-box">
							<input type="file" id="profile-file" onchange="readURL(this);" name="file" class="profile-img">
							<div class="profile-msg">프로필 이미지를<br>선택해주세요</div>
						</div>
						<div class="id-nick-area">
							<div style="margin-top:1.5rem;">
								<label for="mberId">아이디<span class="red">*</span></label>
								<div class="id-box">
									<input style="width:35rem;" class="form-control fs-4" type="text" id="mberId" name="mberId" placeholder="아이디를 입력해주세요." /> 
									<button type="button" class="btn btn-outline-secondary fs-4 ms-3" onclick="fnIdChk()">중복확인</button>
									<div class="id-chk-result-msg">
										<ul>
											<li><span class="red">※ 6 ~ 12자의 영문 소문자, 숫자만 사용가능</span></li>
											<li><span id="falseMsg" class="red none">입력하신 아이디는 사용이 불가합니다.</span></li>
											<li><span id="seccessMsg" class="blue none">입력하신 아이디는 사용이 가능합니다.</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div>
								<label for="mberId">닉네임<span class="red">*</span></label>
								<div class="id-box" style="margin-bottom:0px;">
									<input style="width:35rem;" class="form-control fs-4" type="text" id="mberNickName" name="mberNickName" onchange="fnValidNNCheck(); return false;" placeholder="사용하실 닉네임을 입력해주세요." /> 
									<div class="id-chk-result-msg">
										<ul>
											<li><span class="red">※ 최대 12자, 특수문자는 사용하실 수 없습니다.</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sign-up-input">
						<div class="input-form">
							<label for="password">비밀번호<span class="red">*</span></label>
							<div class="w100">
								<input class="form-control fs-4" type="password" id="mberPassword" onchange="fnPasswordChk(); return false;" name="mberPassword" placeholder="비밀번호를 입력해주세요." /><br>
								<span class="red">※ 영문(대소문자구분), 숫자, 특수문자(!@#$^&*만 허용)를 혼용하여 9~16자를 입력하여 주십시오.</span>
							</div>
						</div>
					</div>
					<div class="sign-up-input">
						<div class="input-form">
							<label for="passwordChk">비밀번호확인<span class="red">*</span></label>
							<div class="w100">
								<input class="form-control fs-4" type="password" id="passwordChk" onchange="fnValidPssrdCheck(); return false;" name="passwordChk" placeholder="비밀번호확인을 입력해주세요." /><br>
								<span class="red">※ 입력 오류 방지를 위하여 한번 더 입력해 주세요.</span>
								<div id="password_msg">
									<p class="red">비밀번호가 일치하지 않습니다.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="sign-up-input">
						<div class="input-form">
							<label for="mberName">이름<span class="red">*</span></label>
							<input class="form-control fs-4" type="text" id="mberName" name="mberName" placeholder="이름을 입력해주세요." />
						</div>
					</div>
					<div class="sign-up-input">
						<div class="input-form">
							<label for="mberBrthd">생년월일</label>
							
							<select class="w15 form-control fs-4" id="selYear">
								<option value='' selected>-- 선택 --</option>
	 							<option th:each="num : ${#numbers.sequence(year,year+100)}" th:value="${num}" th:text="${num}"></option>
							</select><p class="side-margin-01">년</p>
							<select class="w15 form-control fs-4" id="selMon">
								<option value='' selected>-- 선택 --</option>
								<option th:each="num : ${#numbers.sequence(1,12)}" th:value="${#numbers.formatInteger(num,2)}" th:text="${num}"></option>
							</select><p class="side-margin-01">월</p>
							<select class="w15 form-control fs-4" id="selDay">
								<option value='' selected>-- 선택 --</option>
								<option th:each="num : ${#numbers.sequence(1,31)}" th:value="${#numbers.formatInteger(num,2)}" th:text="${num}"></option>
							</select><p class="side-margin-01">일</p>
							<input type="hidden" id="mberBrthd" name="mberBrthd"/>
						</div>
					</div>
					<div class="sign-up-input">
						<div class="input-form">
							<label for="telNm">휴대폰번호</label>
							<div> 
								<input class="w15 form-control fs-4 d-inline-block" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" id="telNm1" />
								<p class="side-margin-01 fs-5 d-inline-block">-</p>
								<input class="w15 form-control fs-4 d-inline-block" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" id="telNm2" />
								<p class="side-margin-01 d-inline-block">-</p>
								<input class="w15 form-control fs-4 d-inline-block" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" id="telNm3" />
								<button type="button" class="btn btn-outline-secondary fs-4 ms-3 d-inline-block" style="width:9.8rem; heigth:4rem;" id="phonChkRequest" onclick="fnChkPhone();">인증번호요청</button>
								<input type="hidden" id="mberTelNo" name="mberTelNo" />
								<div><br>
									<span class="red">※ (선택) 인증받은 휴대폰 번호만 아이디 찾기, 비밀번호 찾기에 사용 할 수 있습니다.</span>
								</div>
							</div>
						</div>
						
					</div>
					<div class="sign-up-input none" id="phonChkArea">
						<div class="input-form">
							<label for="phonChk">휴대폰 인증번호</label>
							<div class="d-flex"> 
								<input class="form-control fs-4" style="width:18rem;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" id="phonChk" name="phonChk" placeholder="인증번호를 입력하세요." />
								<button type="button" id="phonChkBtn" class="btn btn-outline-secondary fs-4 ms-3">인증</button>
							</div>
						</div>
					</div>					
					<div class="sign-up-input">
						<div class="input-form">
							<label for="email">이메일</label>
							<div>
								<input style="width:35rem;" class="form-control fs-4 d-inline-block" type="text" id="mberEmail" name="mberEmail" placeholder="이메일을 입력해주세요." />
								<button type="button" class="btn btn-outline-secondary fs-4 ms-3 d-inline-block" style="width:9.8rem; heigth:4rem;" id="emailChkRequest" onclick="fnChkEmail();">인증번호요청</button>
								<div><br>
									<span class="red">※ (선택) 인증받은 이메일만 아이디 찾기, 비밀번호 찾기에 사용 할 수 있습니다.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="sign-up-input none" id="emailChkArea">
						<div class="input-form">
							<label for="emailChk">이메일 인증번호<span class="red">*</span></label>
							<div class="d-flex"> 
								<input class="form-control fs-4" style="width:18rem;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" id="emailChk" placeholder="인증번호를 입력하세요." />
								<button type="button" id="emailChkBtn" class="btn btn-outline-secondary fs-4 ms-3">인증</button>
							</div>
						</div>
					</div>
					<div class="sign-up-input">
						<div style="text-align: center;">
							<button type="button" class="btn btn-primary fs-3 ps-4 pe-4" onclick="fnSingUp();">회원가입</button>
							<button type="button" class="btn btn-secondary fs-3 ps-4 pe-4" onclick="">취소</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</form>
	<script th:inline="javascript">
		$(document).ready(function(){
	        //비밀번호 label 숨기기
	        $("#password_msg").prop("hidden", true);
	    });
		
		function fnIdChk(){
			var id = $('#mberId').val();
			if(!id || id==''){
				alert("아이디를 입력해주세요.");
				return false;
			}
			
			if(id.length < 6){
	            alert("아이디는 6 ~ 12자로 입력하여 주십시오.");
	            $("#mberId").focus();
	            return false;
	        }
	        
	        var blank_pattern = /[\s]/g; // 공백패턴 
			
	        if(blank_pattern.test(id) == true){
	            alert("공백문자가 존재합니다.\r\n확인하고 다시입력하여주십시오.");
	            $("#mberId").focus();
	            return false;
	        }
	      //아이디 only number인지 체크
	        var onlynum_pattern = /^[0-9]*$/;
	        if (onlynum_pattern.test(id)) {
	            alert("숫자로만 이루어진 아이디는 사용할 수 없습니다.");
	            return false;
	        }
	        
	        // 아이디 문자 유효성 검사
	        var pattern_engnum = /^[a-z0-9]*$/;
	        
	        if((pattern_engnum.test(id)) ){ // 아이디가 적합하면 중복검사 시작
	        	$.ajax({
					type : "get",
					url : '/member/' + id,
				}).done(function(result) {
					if(result){
						$('#mberIdCheck').val(id);
						alert('입력하신 아이디 '+id+"는 사용이 가능합니다.")
						$('#seccessMsg').show();
						$('#falseMsg').hide();
						$('#mberId').css('border', '1px solid blue');
					}else{
						$('#mberIdCheck').val('');
						alert('입력하신 아이디 '+id+"는 사용이 불가합니다.")
						$('#falseMsg').show();
						$('#seccessMsg').hide();
						$('#mberId').css('border', '1px solid red')
					}				
				}).fail(function() {
					alert('실패 하였습니다.');
				})
	        }else{
	            alert("아이디는 영문 소문자, 숫자만 입력하여 주십시오.");
	            $("#mberId").focus();
	            return false;
	        }
		}
		function fnValidNNCheck(){
			var nick = $("#mberNickName").val();
			
			if(nick != ""){
				if(nick.length > 12){
					alert("닉네임은 12자리 이내로 입력하여 주십시오.");
					$("#mberNickName").val("");
					$("#mberNickName").focus();
					return false;
				}
				
				var special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
				if(special_pattern.test(nick) == true) {
					alert('특수문자는 사용하실 수 없습니다.')
					$("#mberNickName").val("");
					$("#mberNickName").focus("");
					return false;
				}
				
				if(nick.replaceAll(" ", "").length < 1){
	                alert("공백으로만 입력하실 수 없습니다.");
	                $("#mberNickName").val("");
	                $("#mberNickName").focus();
	                return false;
	            }
			}
		}
		
		function fnPasswordChk(){
			var id = $("#mberId").val();
	        var pw = $("#mberPassword").val();
	        var num = pw.search(/[0-9]/g);
	        var eng = pw.search(/[a-z]/ig);
	        var spe = /([a-zA-Z0-9].*[!,@,#,$,^,&,*])|([!,@,#,$,^,&,*].*[a-zA-Z0-9])/;
	        
	        if(pw != ""){
	            if(pw.length < 9 || pw.length > 16){
	                alert("비밀번호는 9자리 ~ 16자리 이내로 입력하여 주십시오.");
	                $("#mberPassword").val("");
	                $("#mberPassword").focus();
	                return false;
	            }
	            
	            if(pw.search(/₩s/) != -1){
	                alert("비밀번호는 공백없이 입력하여 주십시요.");
	                $("#mberPassword").val("");
	                $("#mberPassword").focus();
	                return false;
	            }
	            
	            // 비밀번호의 특수문자만 남겨 해당특수문자를 비교한다.
	            var tmp = pw.replace(/[A-za-z]/g,"");
	            tmp = tmp.replace(/[0-9]/g,"");
	            
	            if(tmp != ""){
	                for (var i = 0; i < tmp.length; i++) {
	                    if(tmp.charAt(i) == "!"){
	                    }else if(tmp.charAt(i) == "@"){
	                    }else if(tmp.charAt(i) == "#"){
	                    }else if(tmp.charAt(i) == "$"){
	                    }else if(tmp.charAt(i) == "^"){
	                    }else if(tmp.charAt(i) == "&"){
	                    }else if(tmp.charAt(i) == "*"){
	                    }else{
	                        alert("비밀번호는 특수문자는 !@#$^&*만 입력하여 주십시오.");
	                        $("#mberPassword").val("");
	                        $("#mberPassword").focus();
	                        return false;
	                    }
	                } 
	            }
	            if(!spe.test(pw)){
	                alert("비밀번호는 영문(대소문자구분), 숫자, 특수문자(!@#$^&*만 허용)를 혼용하여 9~16자를 입력하여 주십시오.");
	                $("#mberPassword").val("");
	                $("#mberPassword").focus();
	                return false;
	            }
	        }
	     }
		
		function fnValidPssrdCheck(){
	         if($("#mberPassword").val() != "" && $("#passwordChk").val() != ""){
	             if($("#mberPassword").val() != $("#passwordChk").val()) {
	                 alert("비밀번호와 비밀번호 확인에 입력한 비밀번호가 일치하지 않습니다.");
	                 $("#password_msg").prop("hidden", false);
	                 $("#passwordChk").val("");
	                 $("#passwordChk").focus();
	                 return false;            
	             }
	             $("#password_msg").prop("hidden", true);    
	         }
	     }
		function fnChkEmail(){
			if(!confirm("인증번호를 보내시겠습니까?")){
				return false;
			}
			if(!$('#mberEmail').val()){
				alert('이메일을 입력해주세요.');	
				return false;
			};
			
			var fromMail = {
				fromMail: $('#mberEmail').val()
			}

			counterFn(15,2);

			$.ajax({
				type : "post",
				url : '/mail',
				data : JSON.stringify(fromMail),
				contentType: 'application/json',
			}).done(function(res) {
				alert("인증번호가 전송되었습니다.");
				$('#emailChkArea').css("display", "flex");
				$('#emailChkBtn').click(function(){
                    if($.trim(res) == $('#emailChk').val()){
                        alert('이메일 인증이 정상적으로 완료되었습니다.');
                        $('#emailChk').attr('disabled', true);
        				$('#emailNoCheck').val(fromMail);
        				$('#emailYn').val("Y");
                    }else{
                    	alert('인증번호가 올바르지 않습니다!');
                    }
                })
			}).fail(function() {
				alert('실패 하였습니다.');
			})
		}
		
		function fnChkPhone() {
			if(!confirm("인증번호를 보내시겠습니까?")){
				return false;
			}
			if (!$('#telNm1').val() || !$('#telNm2').val() || !$('#telNm3').val()) {
				alert('휴대폰 번호를 입력해주세요.');
				return false;
			}
			var phonNum = $('#telNm1').val() + '-' +  $('#telNm2').val() +'-' + $('#telNm3').val();
			counterFn(15, 1);
			
			var data = {
					phonNum: phonNum
			}
			$.ajax({
				type : "post",
				url : '/sms',
				data : JSON.stringify(data),
				contentType : 'application/json',
			}).done(function(res) {
				alert("인증번호가 전송되었습니다.");
				$('#phonChkArea').css("display", "flex");
				$('#phonChkBtn').click(function(){
                    if($.trim(res) == $('#phonChk').val()){
                        alert('휴대폰 인증이 정상적으로 완료되었습니다.');
                        $('#phonChk').text('완료');
        				$('#phonChk').attr('disabled', true);
        				$('#telNoCheck').val(phonNum);
        				$('#telYn').val("Y");
                    }else{
                    	alert('인증번호가 올바르지 않습니다!');
                    }
                })
			}).fail(function() {
				alert('실패 하였습니다.');
			})

		}
		
		function counterFn(cnt0,mod) {
		    id0 = setInterval(count0Fn, 1000);
		    function count0Fn() {
		    	if(mod == 2){
		    		$('#emailChkRequest').attr('disabled', true);
				      cnt0--;
				      if (cnt0 <= 0) {
				        clearInterval(id0);
				        $("#emailChkRequest").text("인증번호요청");
			    		$('#emailChkRequest').attr('disabled', false);
				      } else {
				        $("#emailChkRequest").text(cnt0);
				      }
		    	}else{
		    		$('#phonChkRequest').attr('disabled', true);
				      cnt0--;
				      if (cnt0 <= 0) {
				        clearInterval(id0);
				        $("#phonChkRequest").text("인증번호요청");
			    		$('#phonChkRequest').attr('disabled', false);
				      } else {
				        $("#phonChkRequest").text(cnt0);
				      }
		    	}
		    }
		  }
		
		function fnValIdCheck(){
			if($("#mberId").val() != $("#mberIdCheck").val()) {
	            return false;            
	        }
	        return true;
		}
		function fnValTelNoCheck(no){
			if(no != $("#telNoCheck").val()) {
	            return false;            
	        }
	        return true;
		}
		
		function fnEmailCheck(email) {

			var reg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
			
			if(!reg.test(email)){
				alert("이메일 형식이 올바르지 않습니다.")
				return false;
			}
			
			return true;

		}
		
		function fnSingUp(){
			
			if(!confirm('입력하신 정보로 회원가입 하시겠습니까?')){
				return false;
			}
				
			if(!$('#mberId').val() || $('#mberbId').val()==''){
				alert('아이디를 입력해주세요.');
				$('#mberbId').focus();
				return false;
			}
			if(!fnValIdCheck()){
				alert("아이디 중복확인을 진행하시기 바랍니다.");
		        $("#mberId").focus();
		        return false;
			};
			
			if(!$('#mberNickName').val() || $('#mberNickName').val()==''){
				alert('닉네임을 입력해주세요.');
				$('#mberNickName').focus();
				return false;
			};
			
			if(!$('#mberPassword').val() || $('#mberPassword').val()==''){
				alert('비밀번호를 입력해주세요.');
				$('#mberPassword').focus();
				return false;
			}else{
				if($('#mberPassword').val() != $('#passwordChk').val() ){
					alert('비밀번호가 일치하지 않습니다.')
					$('#passwordChk').focus();
					return false;
				}
			}
			
			if(!$('#mberName').val() || $('#mberName').val()==''){
				alert('이름을 입력해주세요.');
				$('#mberName').focus();
				return false;
			}
			
			if($("#selYear option:selected").val() != '' || $("#selMon option:selected").val() != '' || $("#selDay option:selected").val() != ''){
				$('#mberBrthd').val($("#selYear option:selected").val() + '-' + $("#selMon option:selected").val() + '-' + $("#selDay option:selected").val())
			}
			
			
			/* if (!$('#telNm1').val() || !$('#telNm2').val() || !$('#telNm3').val()) {
				alert('휴대폰 번호를 입력해주세요.');
				$('#telNm1').focus();
				return false;
			}
			 */
			
			 $('#mberTelNo').val($('#telNm1').val() + '-' + $('#telNm2').val() + '-' + $('#telNm3').val());
			if($('#telYn').val() == 'Y'){
				if(!fnValTelNoCheck($('#mberTelNo').val())){
					alert('입력된 번호가 인증받은 번호와 다릅니다.');
					$('#telNm1').focus();
					return false;
				}	
			}
			
			/* if(!$('#mberEmail').val() || $('#mberEmail').val()==''){
				alert('이메일을 입력해주세요.');
				$('#mberEmail').focus();
				return false;
			} */
			
			if($('#mberEmail').val() || !$('#mberEmail').val()==''){
				if(!fnEmailCheck($('#mberEmail').val())){
					return false;
				};
			}
			
			if($('#emailYn').val() == 'Y'){
				if(!fnValTelNoCheck($('#mberTelNo').val())){
					alert('입력된 이메일이 인증받은 이메일과 다릅니다.');
					$('#mberEmail').focus();
					return false;
				}
			}
			if($('#emailYn').val() == 'N' && $('#telYn').val() == 'N'){
				alert('추후 수월한 아이디/비밀번호 찾기를 위해 이메일, 휴대폰 중 하나는 인증을 받아야합니다.');
				return false;
			}
			$('#signUpForm').attr('action', '/member');
			$('#signUpForm').submit();
		}
		
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
					reader.onload = function(e) {
					if($("#preview").length <= 0){
						$(".profile-msg").remove();
						$(".profile-box").append("<img id='preview' class='w-100 h-100'/>");	
					}
					$('#preview').attr('src', e.target.result);
				};
				reader.readAsDataURL(input.files[0]);
			} else {
				$("#preview").remove();
				$(".profile-box").append("<div class='profile-msg'>프로필 이미지를<br>선택해주세요</div>");
			}
		}
	</script>
</th:block>
</html>