<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="headerFragment">
  	<div class="menu-area">
 		<a class="logo" href="/">TripDiary</a>
  		<nav class="menu">
	  		<ul class="menu-items">
	  			<li class="menu-item"><a href="/map/my-map">지도보기</a></li>
	  			<li class="menu-item"><a href="/wall/time-lines">타임라인</a></li>
	  		</ul>
  		</nav>
  		<div class="menu-right-area">
  			<span>
  				<span class="search-input-box">
  					<input class="search-keyword" type="text" id="searchKwd" placeholder="주소를 검색해주세요." onKeypress="javascript:if(event.keyCode==13) {searchAddressToCoordinate()}" />
  				</span>
  			</span>
  			<span>
   				<button th:if="${session.loginMember == null}" class="login-btn" onclick="location.href='/login/loginView.do'">로그인</button>
  				<th:block th:if="${session.loginMember != null}">
  					<button th:text="${session.loginMember.mberNickName}+님" class="login-btn my-menu-on-btn" onclick="fnOnMyMenu();"></button>
  					<div class="my-menu">
  						<div class="my-menu-area">
  							<strong class="menu-title">Menu</strong>
  							<ul>
  								<li>
  									<form id="logoutForm" action="/logout.do" method="post">
  										<a href="#" onclick="$('#logoutForm').submit();">로그아웃</a>
  									</form>
  								</li>
  								<li><a href="/member/myFriendsView.do">내 친구</a></li>
  								<li><a href="/member/myPage.do">마이페이지</a></li>  								
  								<li><a href="/member/memberSecessionView.do">회원탈퇴</a></li>
  							</ul>
  							<button class="close-btn" onclick="fnOffMyMenu();"></button>
  						</div>
  					</div>
  				</th:block>
  			</span>
  		</div>
  	</div>
  	<script th:inline="javascript">
  	
		$(document).ajaxSend(function(event, request, settings) {
			request.setRequestHeader('AJAX', 'true');
		});
		
		//ajax 에러처리
		$(document).ajaxError(function(event, request, settings, thrownError) {
			console.log(request.responseJSON.status);
			if (request.responseJSON.status == -1 || request.responseJSON.status == 0) {
				alert('로그인 후 이용 가능합니다.');
			} else {
				alert('다음 위치에서 에러가 발생하였습니다. 관리자에게 문의해주세요.\n' + settings.url);
			};
		});	
		
  </script>
  </header>
</html>