<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="headerFragment">
  	<div class="menu-area">
 		<a class="logo" href="#">사관</a>
  		<nav class="menu">
	  		<ul class="menu-items">
	  			<li class="menu-item"><a href="/map/getMyMapView.do">지도보기</a></li>
	  			<li class="menu-item"><a href="#">타임라인</a></li>
	  		</ul>
  		</nav>
  		<div class="menu-right-area">
  			<span>
  				<span class="search-input-box">
  					<input class="search-keyword" type="text" id="searchKwd" placeholder="주소를 검색해주세요."/>
  				</span>
  			</span>
  			<span>
  				<button th:if="${session.loginMember == null}" class="login-btn" onclick="location.href='/login/loginView.do'">로그인</button>
  				<button th:if="${session.loginMember != null}" th:text="${session.loginMember.mberName}"class="login-btn" onclick=""></button>
  			</span>
  		</div>
  	</div>
  </header>
</html>