<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.dylim.hot.member.mapper.MemberMapper">
	<select id="idCheck" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(id) FROM member WHERE mber_id = #{id}			
		]]>
	</select>
	<insert id="signUpInsert" parameterType="com.dylim.hot.member.MemberVO">
		<![CDATA[  
			INSERT INTO member
			VALUES
				(
					null
					,#{mberId}
					,#{mberPassword}
					,#{mberName}
					,#{mberBrthd}
					,#{mberTelNo}
					,#{mberEmail}
					,"등록자"
					,now()
					,"수정자"
					,now()
					,"N"
				)
		]]>
	</insert>
	<select id="loadUserByUserId" parameterType="String" resultType="com.dylim.hot.member.MemberVO">
		<![CDATA[
			SELECT 
				mber_id as mberId,
				mber_password as mberPassword,
				mber_name as mberName,
				mber_brthd as mberBrthd,
				mber_tel_no as mberTelNo,
				mber_email as mberEmail
			FROM member WHERE mber_id = #{mberId} and del_yn = "N"			
		]]>
	</select>
	
</mapper>